@import "tailwindcss";

@theme {
  --color-primary: #084789;
  --color-secondary: #02afb4;
  --color-gray: #606060;
}

:root {
  --font-family: "Inter", sans-serif;
}

body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
